<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5433/PORTFOLIO_APP_DB_CORRECTED</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">php789</property>

        <!-- SQL visibillity -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->

        <!-- JDBC connection pool  -->
        <property name="connection.pool_size">12</property>

        <!--<property name="hbm2ddl.auto">update</property>-->

        <mapping class="model.inventory.Component"/>
        <mapping class="model.inventory.Operation"/>
        <mapping class="model.inventory.Portfolio"/>
        <mapping class="model.inventory.Program"/>
        <mapping class="model.inventory.Project"/>

        <mapping class="model.categorization.AreaOfFocus"/>
        <mapping class="model.categorization.Category"/>
        <mapping class="model.categorization.CategoryEvaluation"/>
        <mapping class="model.categorization.CategoryMembership"/>
        <mapping class="model.categorization.Score"/>
        <mapping class="model.categorization.ScoringCriterion"/>

        <mapping class="model.process.State"/>
        <mapping class="model.process.Process"/>
        <mapping class="model.process.Decision"/>

        <mapping class="model.organization.Employee"/>
        <mapping class="model.organization.Organization"/>
        <mapping class="model.organization.Stakeholder"/>
        <mapping class="model.organization.User"/>
        <!-- DB schema will be updated if needed -->

    </session-factory>
</hibernate-configuration>
